/*!
Theme Name: samson
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: samson
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

samson is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Barlow:300,400,400i,500,600,700&display=swap');

body {
    margin: 0;
    font-family: 'Barlow', sans-serif;
    color:#2a2a2a;
    overflow-x: hidden;
}
body.template-stages .map {
    display: none;
}
span.border_red {
    padding-bottom: 10px;
    border-bottom:2px solid #ea5b31;
}
span.border_black  {
    padding-bottom: 10px;
    border-bottom:2px solid rgba(42, 42, 42, 1);
}
.site_container {
    width:80%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    overflow: hidden;
}
.site_header .site_container {
    width:90%;
    max-width: 1300px;
}
.site_container.site_container_compact {
    max-width: 800px;
}

button, input[type=submit] {
    -moz-appearance: none;
-webkit-appearance: none;
    border-radius: 0;
}
h1 {
    font-size: 46pt;
    font-weight: 700;
    margin: 0;
    line-height: 1.5em;
}
h2 {
    font-size: 26pt;
    font-weight: 500;
    text-transform: uppercase;
    margin: 25px auto;
    line-height: 2em;
}
h3 {
    font-size: 16pt;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    line-height: 1em;
}
h4 {
    font-size: 18pt;
    font-weight: 500;
    line-height: 1.35em;
    margin: 0;
    letter-spacing: 0.25px;
}
h6 {
    font-size: 12pt;
    font-weight: 500;
    text-transform: uppercase;
    margin:0;
    line-height: 1em; 
}
p {
    font-size: 13pt;
    font-weight: 300;
    line-height: 1.5em;
}
li {
    font-size: 13pt;
    font-weight: 300;
    line-height: 1.5em;
}
ul, li {
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
}
a {
    text-decoration: none;
    color:inherit;
}
label {
    text-transform: capitalize!important;
    font-size: 11pt !important;
}
.wpcf7-form {
    padding: 10px !important;
}
input {
    outline: 0;
}
button {
    outline: 0;
}
input[type="submit"],
.btn_standard {
    font-size: 13px;
    background: #ea5b31;
    color:#fff;
    text-transform: uppercase;
    font-weight: 400;
    border:0;
}
.btn_standard {
    width: auto;
    padding: 15px 30px;
}
.desktop_show {
    display: block;
}
.desktop_hide {
    display: none;
}
.bg_grey {
    background: #f7f7f7 !important;
}
.center {
    text-align: center;
}
/*
input[type=text]:focus,
input[type=email]:focus{
    border-bottom-color: #ea5b31 !important;
}
*/
/*
textarea:focus {
    border-color: #ea5b31 !important;
}
*/

/*HEADER*/
.site_header {
    position: fixed;
    width: 100%;
    background: #3f3f3f;
    z-index: 99;
    top:0;
}
body.home .site_header {
    background: transparent;
    position: fixed;
}
body.home #sticker.darkHeader {
    width: 100% !important;
    background: #3f3f3f;
    z-index: 99 !important;
}
.site_header .site_container {
    padding-top: 30px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
}
body.home .site_header .site_container img {
    width: 205px;
}
.site_header .site_container img {
    width: 130px;
}
#sticker.darkHeader .site_container img {
    width: 130px;
}
.header_menu a{
    color:#fff;
    font-size:12pt;
    letter-spacing: 0.025em;
}
ul#mega-menu-menu-1 li {
    display: inline-block;
    margin-left: 40px !important;
}

ul#mega-menu-menu-1 ul.mega-sub-menu li {
    margin-left: 10px !important;
}
ul#mega-menu-menu-1 ul.mega-sub-menu li:last-child {
    border-bottom: 0 !important;
}
ul#mega-menu-menu-1 li.last_link {
    margin-left: 15px !important;
}
ul#mega-menu-menu-1 li {
    border-bottom:2px solid transparent !important;
}
ul#mega-menu-menu-1 li.mega-current_page_item {
    padding-bottom: 5px;
    border-bottom:2px solid #ea5b31 !important;
}
ul#mega-menu-menu-1 li:hover {
    padding-bottom: 5px;
    border-bottom:2px solid #ea5b31 !important;
}
div#responsive-menu-container {
    padding-top: 100px;
}
/*HOME - SPLASH*/
.home_splash {
    
    height: 100vh;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
        background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.3);
}
.home_splash.inner_splash {
   height: 80vh;
    margin-top: 113px;
}

.splash_content {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    z-index: 9;
}
.splash_content h1 {
    color:#fff;
}
.splash_content h3 {
    color:#fff;
}
.splash_content button {
    margin-top: 60px;
}
.splash_cta {
    height: 110px;
    position: absolute;
    bottom: -50px;
    background: #fff;
    width: 70%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}
.splash_cta .wpcf7,
.splash_cta form.wpcf7-form{
    height: 100%;
}
.booking_form {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
.booking_form > div {
    width: 90%;
    margin-left: 5% !important;
}
.booking_form input[type=text],
.booking_form input[type=email],
.booking_form select {
    border: 0;
    border-bottom: 1px solid rgba(42, 42, 42, 0.7);
    width:80%;
    font-size: 13pt;
}
.booking_form select {
    width: 100%;
    height: 23px;
    border: 0;
    margin-top: 11px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0;
}
.social_widgets {
    margin-bottom: 25px;
}
.social_widgets ul li {
    display: inline-block;
    margin-right: 15px;
}
/*SAMSON STAGES*/
body.home .samson_stages {
    padding-top: 100px;
}
.samson_stages {
    padding-top: 100px;
    padding-bottom: 100px;
    background:#fff;
    background-size: cover;
    background-position: center;
}
.words_candy_standard {
    display: flex;
    justify-content: space-between;
}

.words_candy_standard .candy {
    text-align: right;
    width: 60%;
    margin-left: 5%;
}
.words_candy_standard .candy img {
    width: 100%;
}
.words_candy_standard .candy .slide {
    height: 500px;
    background-size: cover;
    background-position: center;
    width: 90%;
    margin-right: 0;
    margin-left: auto;
}
.words_candy_standard .words {
    width: 35%;
}
.words p a,
.inner_content p a,
.inner_content li a{
    padding-bottom: 2px;
    border-bottom: 1px solid #ea5b31;
}
.inner_content ul li {
    list-style-type: disc;
}
.inner_content ul {
    margin-left: 25px;
}
.inner_content button {
    margin-top: 30px;
}
.words_candy_standard .words.words_long {
    width: 100%;
}

.words_candy_standard .words .btn_standard {
    margin-top: 30px;
}
.testimonial {
    height: 350px;
        background-image: url(/wp-content/themes/samson/assets/img/banner.png);
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.35);
    padding-bottom: 30px;
}
.quote {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100%;
}
.quote p{
    color:#ea5b31;
    font-size: 20pt;
}
.quote h4 {
  color: #fff;  
}

/*SAMSON EXTRAS*/
.samson_extras {
    background: #f3f3f3;
    padding-top: 75px;
    padding-bottom: 75px;
}
.samson_extras .words_candy_standard .candy .slide {
    height: 275px;
}

.words_candy_standard .candy .slide.push_left {
    margin-left: 0;
    margin-right: auto;
}

/*SAMSON MAP*/
.map {
    display: flex;
}
.samson-map img{
    width: 100%;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

/*SAMSON SCOOP*/
.default_container {
    background-color: #f3f3f3;
    padding-top: 100px;
    padding-bottom: 100px;
}
.samson-grid-tres {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.samson-feature {
    flex:0 47%;
    margin: 10px;
    margin-bottom: 50px;
    
}
.samson-feature h4 {
    margin-bottom: 20px;
}
.samson-feature:first-child {
    margin-left: 0;
}
.samson-feature:last-child {
    margin-right: 0;
}
.samson-feature .samson-feature-bg {
    height: 500px;
    background-size: cover;
    background-position: center;
}
div.samson-grid-tres div.samson-feature-bg {
    width: 50%;
    height: 250px;
     background-size: cover;
    background-position: center;
}
.samson-feature-title {
    padding: 30px 25px 10px;
}
.samson-feature-title.centered-title {
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}
.samson-feature-title p {
    color:#77777e;
}

.samson-feature.feature-scoop .samson-feature-bg {
    height: 250px;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.samson-feature-title.no-pad {
    padding: 15px 0 0 0;
}
.samson-feature-title.no-pad h4 {
    font-size: 15pt;
    line-height: 1.25em;
    min-height: 25px;
}
.samson-feature-title.no-pad h6 {
    font-size: 11pt;
    color:#748494;
    text-transform: capitalize;
    font-weight: 400;
    margin-top: 7px;
    margin-bottom: 8px;
}

.author-info p {
    font-size: 11pt;
    font-weight: 500;
    letter-spacing: 0.25px;
    color:#748494;
    display: inline-block;
}
.author-info p span {
    color:#ea5b31;
    margin-right: 5px;
}
.author-info img {
    display: inline-block;
/*    vertical-align: middle;*/
    margin-right: 5px;
}
.samson-scoop-cta {
    margin-top: 35px;
    text-align: center;
}
.samson-scoop-cta .btn_standard {
    background: transparent;
    color:#2a2a2a;
    border: 1px solid #2a2a2a;
    font-weight: 700;
    font-size: 14pt;
}
.samson-scoop-alt .default_container{
    padding-top: 200px;
}
.more_button {
    margin-top: 15px;
}
.slides {
        background: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
}
.slides .center {
    margin-top: 100px;
}
.slick-slide img {
    margin: 0 auto;
}
.slide_view {
    height: 400px;
    background-size: cover;
    background-position: center;
        background-blend-mode: overlay;
    background-color: rgba(225, 49, 26, 0.7);
}
.slick-slide.slick-current.slick-active.slick-center .slide_view  {
    height: 450px;
    background-color: transparent;
}
/* the slides */
.slick-slide {
    margin: 0 10px;
}
/* the parent */
.slick-list {
    margin: 0 -10px;
}
.slick-track {
        display: flex !important;
    align-items: center;
}
.slick-next {
    right: 10% !important;
}
.slick-prev {
    left: 9% !important;
    z-index: 99;
}
.slick-next:before, .slick-prev:before {
    font-size: 35px !important;
}
/*SAMSON CONTACT HOME*/
.contact_home {
    background:#fff;

}
.contact_home .site_container {
    padding-top: 100px;
}
.contact_info {
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
        z-index: 9;
    position: relative;
    background: #fff;
}
.contact_home.blend {
  -webkit-transition: background-color 3s; /* Safari prior 6.1 */
  transition: background-color 3s;
        background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.8);
} 
.contact_home label {
    text-transform: uppercase !important;
    font-weight: 300 !important;
    letter-spacing: 0.5px;
}

.contact_home  .contact_form textarea  {
/*    border: 1px solid #ea5b31;*/
    margin-top: 20px;
    height: 80px;
}
.contact_home .contact_form textarea  {
    width: 96%;
    padding-top: 5px;
}
select.wpcf7-form-control.wpcf7-select {
    width:90%;
    height: 30px;
        margin-top: 28px;
}
/*SAMSON STRIP*/
.samson-strip {
    height: 250px;
    background: #FFF;
    position: relative;
    
}
.samson-strip .site_container {
    display: flex;
    align-items: center;
    justify-content: space-around
}
.samson-strip .director-chair {
/*    position: absolute;*/
    text-align: center;
    width: fit-content;
    top:-15px;
    z-index: 9;
    display: flex;
    align-items: center;
}
.samson-strip .director-chair .btn_standard {
    height: fit-content;
}
.samson-strip .director-chair img {
    width: 425px;   
    margin-top: -15px;
        margin-right: -25px;
    z-index: 9;
}
.samson-strip-cta {
/*    position: absolute;*/
    right: 12%;
    top: 44%;
}
.samson-strip-cta .btn_standard {
    padding-left: 40px;
    padding-right: 40px;
}
.samson-strip .call-time {
    height:250px;
    justify-content:center;
    display: flex;
    flex-direction: column;
}
.samson-strip .call-time h6,
.samson-strip .call-time h3 {
    color:#ea5b31;
}
.samson-strip .call-time h6 {
    font-size: 16pt;
}
.samson-strip .call-time h3 {
    font-size: 32pt;
    letter-spacing: 1px;
}
.samson-strip .call-time p {
    margin-top: 8px;
}
section.map {
    pointer-events: none;
}
/*CONTACT US*/
.inner {
    padding-top: 200px;
    padding-bottom: 200px;
}
.inner_header {
    margin-bottom: 70px;
}
.contact_home .inner_header {
    margin-bottom: 0;
}
.inner_content img {
    margin-right: 5%;
    float: left;
}
.words_standard {
    width:70%;
}
.contact_group {
    display: flex;
    align-items: stretch;
}
.contact_form {
    margin-top: 50px;
    width: 70%;
}
.contact_social {
    background: #ea5b31;
    padding: 25px 50px;
/*        position: absolute;*/
/*    right: -100px;*/
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    flex: 30%;
}
.contact_map {
    flex: 70%;
}
.contact_social p {
    color:#fff;
    font-weight: 400;
    font-size: 12pt;
    margin-top: 8px;
    margin-bottom: 8px;
}
.contact_social p strong {
    text-decoration: underline;
}
.contact_social .top_div {
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom:1.5px solid rgba(255, 255, 255, 0.5);
}
.contact_social .bottom_div p {
    font-weight: 600;
}
.contact_social .bottom_div img {
    filter: brightness(0) invert(1);
    width: 25px;
}
.contact_social .bottom_div ul li {
    display: inline-block; 
    vertical-align: middle;
    margin-left: 7px;
    margin-right: 7px;
}
.contact_form label {
    text-transform: capitalize;
    font-weight: 400;
}
.grouped_fields > div input,
.contact_form textarea{
    border: 0;
    border-bottom: 1px solid #2a2a2a;
    padding-top: 35px;
    font-size: 13pt;
    background: transparent;
}
.contact_form textarea  {
    border: 1px solid #2a2a2a;
    margin-top: 20px !important;
    height: 80px !important;
    outline: 0;
    width: 96% !important;
    padding-top: 5px;
    height: 80px;
}

.grouped_fields {
    display: flex;
    justify-content: space-between;
} 
.grouped_fields > div {
    width: 50%;
    margin-right: 5% !important;
    margin-bottom: 30px !important;
}
.grouped_fields > div input {
    width: 90%;
    outline: 0;
}
.contact_form input[type="submit"] {
    margin-top: 30px;
}


/*FOOTER*/
footer {
    padding-top: 35px;
    padding-bottom: 35px;
}
footer h2 {
    padding-bottom: 15px;
    margin-bottom: 0;
}
footer ul#primary-menu li {
    margin-bottom: 5px;
}
.footer_pages {
    text-align: center;
}
.samson-footer {
    display: flex;
    justify-content: space-between;
}
.samson-info img.logo{
    width: 170px;
    margin-bottom: 10px;
}
.samson-info img.icon,
.samson-info ul li img {
    display: inline-block;
    margin-right: 10px;
    width: 12px;
    height: auto;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.samson-info ul {
    display: flex;
    flex-direction: column;
}
.samson-info ul li {
    margin-bottom: 10px;
}
.samson-info ul li p,
.samson-info ul li {
    font-size: 10pt;
    font-weight: 500;
}
.samson-social {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.samson-social img {
    width: 25px;
    margin-left: 25px;
    margin-right: 25px;
}
.addtoany {
    margin-top: 20px;
}

/*THE SAMSON SCOOP INNER*/
.samson-scoop-inner {
    padding-top: 200px;
    padding-bottom: 200px;
}
.samson-scoop-inner .inner_header {
    margin-bottom: 100px;
}
.samson-scoop-inner .samson-grid-tres {
    display: block;
}
.samson-scoop-inner .samson-feature.feature-scoop .samson-feature-bg {
    height: 500px;
    width: 100%;
}

.samson-scoop-inner .samson-feature.feature-scoop {
    margin-top: 50px;
}
.samson-scoop-inner .samson-feature-title {
    margin-bottom: 30px;
}


/*SAMSON STAGES*/
.samson_stages.samson_stages_inner  {
    background: #f3f3f3;
}
.samson_stages_inner .words_candy_standard {
    margin-bottom: 150px;
}

.samson_stages_inner .words_candy_standard .candy .slide {
    width: 98%;
    position: relative;
}
.samson_stages_inner .words_candy_standard .candy button {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -20px;
}
.samson_stages_inner .words_candy_standard .candy {
    width: 100%;
    position: relative;
}
.samson_stages_inner .words_candy_standard .words {
    width: auto;
    position: relative;
}
.samson_stages_inner .words_candy_standard .words.left-word h1 {
    text-align: left;
}
.samson_stages_inner .words_candy_standard .words.left-word img {
    left: 0;
    width: 270px;
}

.words_candy_standard .candy .slide.left-slide {
    margin-left: 0;
    margin-right: auto;
}
.samson_stages_inner .words_candy_standard .words h1 {
    text-align: right;
}
.samson_stages_inner .words_candy_standard .words img {
    position: absolute;
    bottom: 0;
    width: 210px;
    right: 0;
}

.samson_stages_inner.samson_stages_detail .words_candy_standard {
    display: block;
}
.samson_stages_inner.samson_stages_detail .words_candy_standard .words {
    display: flex;
    margin-bottom: 50px;
    align-items: center;
}
.samson_stages_inner.samson_stages_detail .words_candy_standard .words h1 {
    margin-right: 20px;
}
.samson_stages_inner.samson_stages_detail .words_candy_standard .words h2 {
    margin-bottom: 0;
    opacity: .8;
}
.samson_stages_inner.samson_stages_detail .words_candy_standard .words img {
    left: 0;
    position: relative;
}

.specs-chart {
    background: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    margin-bottom: 100px;
}
.specs-chart ul li {
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(42, 42, 42, 0.2);
    padding-left: 10px;
}
.specs-chart ul li:last-child {
    border-bottom: 0;
}
.specs-chart ul li img {
    height: 20px;
    width: 20px;
    margin-right: 20px;
    display: inline-block;
}
.specs-chart ul li p {
    display: inline-block;
    font-weight: 600;
    font-size: 14pt;
    text-transform: uppercase;
    margin: 0;
}
.floor_plan {
    text-align: center;
}
.floor_plan img {
    width: 100%;
    margin-bottom: 30px;
}
.slides.slides-alt .center {
    margin-top: 0;
}
.n2-active {
    background: #ea5b31FF !important;
}
.logos img {
    width: 100%;
}


.profile {
    margin-top: 50px;
    overflow: hidden;
}
.profile img {
    max-width: 250px;
}
.flex_content {
    display: flex;
    justify-content: space-around;
}
/*
.wp-video-shortcode {
    max-width: 300px !important;
}
*/
.intro_clips {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
} 
.clip {
    flex: 28%;
    margin-left: 4%;
}
.clip h3 {
    position: relative;
}
.clip h3:before {
    content: url(/wp-content/themes/samson/assets/img/leaf.png);
    position: absolute;
    left: -10%;
}
.clip p {
    width: 90%;
    margin-bottom: 50px;
}

@media screen and (max-width:768px) {
    .desktop_show {
        display: none;
    }
    .desktop_hide {
        display: block;
    }
    .wpcf7 .wpcf7-submit {
        margin-right: auto !important;
    }
    .wpcf7-form input[type=text]:not(.browser-default) {
        height: 2rem !important;
    }
    .wpcf7 .preloader-wrapper.ajax-loader.small {
        display: block !important;
    }
    .booking_form input[type=submit] {
        width: 100% !important;
    }
    .booking_form > div {
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .contact_form textarea {
        width: 100% !important;
    }
    .specs-chart ul li p {
            font-size: 11pt;
    width: 90%;
    }
    .site_container {
        width: 92%;
    }
    h1 {
        font-size: 26pt;
    }
    h2 {
        font-size: 18pt;
        margin-bottom: 20px;
    }
    .social_widgets {
        margin-top: 25px;
    }
    .splash_content h1 {
        font-size: 32pt;
            margin-top: 100px;
            line-height: 1.25em;
    }
    .home_splash.inner_splash .splash_content h1 {
        margin-top: 0;
    }
    span.border_red {
        padding-bottom: 10px;
    }
    .home_splash {
        height: 65vh;
        background-position: center;
    }
    .splash_cta {
        position: relative;
        width: 100%;
        height: auto;
        display: block;
        bottom: auto;
        top:-50px;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .booking_form {
        display: block;
        text-align: center;
    }
    .booking_form > div {
        margin-bottom: 25px;
        }
    .booking_form input[type=text], .booking_form input[type=email] {
        text-align: center;
    }
    .samson_stages {
        padding-top: 370px;
        padding-bottom: 50px;
    }
    body.home .samson_stages {
        padding-top: 50px;
    }
    .contact_info {
        box-shadow: none;
    }
    .words_candy_standard {
        display: block;
    }
    .words_candy_standard .words {
        width: 100%;
        margin-bottom: 40px;
    }
    .words_candy_standard .candy {
        width: 100%;
        margin-left: 0;
    }
    .words_candy_standard .candy .slide {
        width: 100%;
        height: 300px;
    }
    .samson_extras {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .slide_view {
        height: 200px;
    }
    .slick-slide.slick-current.slick-active.slick-center .slide_view {
        height: 250px;
    }
    .samson-grid-tres {
        display: block;
    }
    .samson-feature .samson-feature-bg {
        height: 300px;
    }
    .samson-feature-title.centered-title {
        background: transparent;
        box-shadow: none;
    }
    .default_container {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .samson-strip .director-chair img {
        display: none;
    }
    .samson-strip .call-time h3 {
        font-size: 22pt;
    }
    .samson-strip-cta {
        right: 2%;
    }
    .samson-strip-cta .btn_standard {
        padding-left: 25px;
        padding-right: 25px;
    }
    .samson-strip,
    .samson-strip .call-time{
        height: 215px;
    }
    .contact_home {
        padding-top: 110px;
        padding-bottom: 50px;
    }
    .grouped_fields {
        display: block;
    }
    .grouped_fields > div {
        width: 100%;
        margin-bottom: 20px;
    }
    .grouped_fields > div input, .contact_form textarea {
        padding-top: 20px;
    }
    footer {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .samson-footer {
        display: block;
        text-align: center;
    }
    .footer-links {
        margin-bottom: 30px;
    }
    .contact_group {
        flex-direction: column;
    }
    .contact_form {
        width: 100%;
    }
    .contact_social {
        position: relative;
        right: 0;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .contact_info {
        padding: 0;
    }
    .inner {
        padding-top: 150px;
        padding-bottom: 150px;
    }
    .samson-scoop-inner .samson-feature.feature-scoop .samson-feature-bg {
        height: 300px;
    }
    .samson_stages_inner .words_candy_standard .words img {
        left: 0;
        width: 100px !important;
    }
    .samson_stages_inner .words_candy_standard .words.left-word img {
        right: 0;
        left: auto;
        width: 200px;
    }
    .samson_stages.samson_stages_inner {
        padding-top: 200px;
    }
    .samson_stages_inner.samson_stages_detail .words_candy_standard .words h2 {
        font-size: 16pt;
    }
    .samson_stages_inner.samson_stages_detail .words_candy_standard .words {
        margin-bottom: 10px;
    }
    .samson_stages_inner.samson_stages_detail .words_candy_standard {
        margin-bottom: 50px;
    }
    .samson_stages_inner.samson_stages_detail .words_candy_standard .words {
        display: block;
    }
    .words_standard {
        width: 100%;
    }
    .home_splash {
        background-attachment: inherit;
    }
    .samson-feature-title.no-pad h4 {
        min-height: auto;
    }
    .slides .center {
        margin-top: 0;
    }
    .contact_home .site_container {
        padding-top: 0;
    }
    .inner_content img {
        max-width: 100%;
        height: auto;
    }
    body.home .inner_content img {
        width: 80%;
        height: auto;
        float: none;
        margin: 0 auto 20px;
    }
    .map {
        flex-direction: column;
    }
    .map iframe {
        width: 100% !important;
        height: 300px !important;
    }
    .clip {
        flex: 100%;
        margin-left: auto;
    }
    .quote h4 {
        font-size: 13pt;
    }
}